<section class="overflow-hidden">
    <a class="relative" target="_blank" href="https://www.oftalmologicosanangel.com/informacion-seguros/">
        <img class="w-screen object-cover hover:scale-110 transition duration-200 ease-in-out" src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/SEGURO-DE-GASTOS-MEDICOS.png" alt="">
        <span class="absolute top-0">Ver mas</span>
    </a>
</section>