---

---

<section class="container mx-auto px-7 gap-10">
  <div class="flex items-center h-[100dvh]">
    <div class="w-1/2">
    <h1 class="text-3xl font-light">San Ángel Oftamología</h1>
    <span class="text-xl italic font-light"
      >Desde 2004 siendo una bendición para sus ojos</span
    >
    <p class="py-7 text-sm text-balance">
      Dedicados a brindar una atención médica personalizada con la más alta
      calidad, basándonos en la actualización científica permanente; en los
      principios de la ética profesional y en el apoyo de los recursos
      tecnológicos más avanzados, diagnósticos precisos, tratamiento y cirugía
      ocular.
    </p>
    <a
      href="#"
      class="px-7 py-2 bg-linear-to-r from-bay-of-many-400 to-bay-of-many-800 font-semibold text-white rounded-md"
      >Nuestros servicios</a
    >
    <div class="pt-7">
      <span class="text-sm font-light text-gray-500"
        >Confia en las marcas más reconocidas del área oftálmica:</span
      >
      <div class="marcasOftalmica flex gap-5">
        <img
          src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/11-150x150.png"
          alt=""
        /><img
          src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/10-150x150.png"
          alt=""
        /><img
          src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/4-150x150.png"
          alt=""
        /><img
          src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/5-150x150.png"
          alt=""
        /><img
          src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/7-150x150.png"
          alt=""
        /><img
          src="https://www.oftalmologicosanangel.com/wp-content/uploads/2024/02/6-150x150.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="w-1/2">
    <img
      class=""
      src="https://www.oftalmologicosanangel.com/wp-content/uploads/2020/03/logo-570x400.png"
      alt="San Angel Oftamologia"
    />
  </div>
  </div>
</section>
<style>
  .marcasOftalmica img {
    width: 44px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
</style>
